@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@200;300;400;500&family=Roboto:wght@100;300;400;500;700&family=Source+Sans+Pro:wght@400;600;700&family=Tilt+Neon&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;

}
::rot{
    ---cinza: #D9D9D9;
    ---vermelho: #C72828;
    ---branco: #E7E4E4;
}

body, html{
    width: 100%;
    height: 100vw;
    background-color: #E7E4E4;
}
header{
    display: flex;
    height: 60px;
    padding: 25px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.nav-list a{
    text-decoration: none;
    color: #C72828;
    padding: 4px 0px;
}
.nav-list li{
    display: block;
    text-decoration: none;
    list-style: none;
}
.nav-list{
    display: flex;
    gap: 40px;
}

#btn-mobile{
    display: none;
}

#login-icon{
    height: 90px;
}


main{
    display: block;
    margin: auto;
    text-align: center;
    width: 80vw;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main p{
    margin: 5px auto;
    font-size: 1.3em;
}

main img{
    margin: 15px auto 10px auto;
    width: 50vw;
}

.button-a{
    width: 150px;
    text-decoration: none;
    display: block;
    margin: 10px auto 30px auto;
}

#red-button{
    
 background-color: #C72828;
    color: white;
    padding: 8px 8px;
    width: 180px;
    border-radius: 7px;

}
h2{
    margin: 30px auto 5px;
    color: #C72828;

    width: 250px;
    border-radius: 9px;
    padding: 6px 4px;
}

@media (max-width:600px){
    main h1{
        font-size: 1.2em;
    }
    .nav-list{
        display: block;
        position: absolute;

        width: 50%;
        top: 60px;
        right: 0px;
        background-color: #e7e4e4e4;
        z-index: 1000;
        height: 0px;
        transition: .4s;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active .nav-list{
        height: calc(100vh - 60px);
        visibility: visible;
        /*overflow-y: auto;*/
    }

    .nav-list li{
        padding: 10px 0px;
        margin-right: 40px;
        border-bottom: 2px solid #c728284a;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 10px ;
        border: none;
        color: #E7E4E4;
        background-color: #C72828;
        border-radius: 5px;
        cursor: pointer;
    }
    #btn-mobile:hover{
        font-weight: bold;
        color:#C72828;
        background-color:#bdbaba;
    }

}